body{
  background-position: center;
}

.barraArriba {
  height: 65px;
  background-color: rgb(213, 43, 30);
}

.boton {
  height: 40px;
  margin-top: 22px;
  text-align: center;
  padding-left: 42px;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  /*border: 2px solid #000000;*/
  display: flex;
  align-items: center;
  color: white;
}
span{
  font-family: 'Raleway', sans-serif;
}
.boton:hover {
  transition: 0.7s;
  color: #952e4b;
}
.dos{
  height: 100%;
}
.prueba{
height: 100%;
background-color: white;
}
.changeColor {
  background-color: rgb(253, 255, 214);
  color: #ff4d4d;
  border-bottom: 0.5px solid #ff4d4d;
}
.mainUno{
  height: 91.62vh;
  background-color:  rgb(253, 255, 214);
}
